<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 FIA</title>
</head>
<body>
    <nav>
        <a href="/">FIA</a>
        <a href="/board/please_find_it/">요청</a>
        <a href="/board/please_take_it/">공고</a>
        <a href="/single_pages/about_us/">팀 소개</a>
    </nav>

    <h1>Project FIA, 당신의 분실물을 찾아보세요!</h1>
    <h2>팀 소개 페이지입니다.</h2>

    <h3>Moon Je Woong (munjin0201@naver.com), Github Id: MoonJeWoong</h3>
    <hr/>
    <h3>Jo Woo Sung (imws_@naver.com), Github Id: rickysbcws</h3>

</body>
</html>