<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8">
        <title>{{ post.title }} - FIA</title>
    </head>
    <body>

        <nav>
            <a href="/">FIA</a>
            <a href="/board/please_find_it/">요청</a>
            <a href="/board/please_take_it/">공고</a>
            <a href="/single_pages/about_us/">팀 소개</a>
        </nav>
        <h1>{{ post.title }}</h1>
        <h4>{{ post.created_at }}</h4>
        <p>{{ post.content }}</p>
        <hr/>
        <h3>댓글 기능 추가하기</h3>
    </body>
</html>